/* Styles de base pour le corps avec un dégradé de fond */
body {
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}

/* Bouton "Rejoindre" avec un style Material et une animation au survol */
#join-btn {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    padding: 20px 40px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#join-btn:hover {
    background-color: #45a049;
    transform: translate(-50%, -50%) scale(1.05);
}

/* Grille de vidéos */
#video-streams {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 1rem;
    height: 90vh;
    width: 95%;
    margin: 0 auto;
    padding: 1rem;
    overflow-y: auto;
}

/* Conteneur vidéo avec style Material */
.video-container {
    max-height: 100%;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to right, #37474F, #263238);
    transition: transform 0.3s ease;
}

.video-container:hover {
    transform: scale(1.02);
}

.video-player {
    height: 100%;
    width: 100%;
    background: #000;
}

/* Style pour tous les boutons */
button {
    border: none;
    border-radius: 4px;
    background-color: #03A9F4;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #0288D1;
    transform: scale(1.05);
}

button:active {
    background-color: #0277BD;
    transform: scale(0.98);
}

/* Conteneur de contrôles de flux avec flexbox et style Material */
#stream-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: rgba(0, 0, 0, 0.4);
    padding: 1em;
    border-radius: 8px;
    margin-top: 0.5em;
}

/* Animation pour la transition des contrôles de flux */
#stream-controls.show {
    display: flex;
    opacity: 1;
    transition: opacity 0.3s ease;
}

#stream-controls.hide {
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Réponse pour les écrans plus petits */
@media screen and (max-width: 1400px) {
    #video-streams {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        width: 95%;
    }
}
